In [165]:
import pandas as pd
import numpy as np

In [166]:
data_info = pd.read_excel("voices.xlsx")

In [167]:
data_info.shape

(51, 5)

In [168]:
data_info.head()

        Date      Time     Date_2    Time_2    label
0 2018-10-12  13:00:00 2018-10-12  16:00:00  Stopped
1 2018-10-12  16:00:00 2018-10-12  18:00:00     Good
2 2018-10-12  18:00:00 2018-10-13  12:15:00     Good
3 2018-10-13  12:15:00 2018-10-13  14:15:00     Good
4 2018-10-13  14:15:00 2018-10-13  18:15:00  Stopped

In [170]:
import os
import glob
import scipy as sc
from time import mktime
from datetime import datetime
audio_path = os.getcwd() + '\\voices'
files = os.listdir(audio_path)
date = []
_date = []
_time = []
audios = []
for filename in glob.glob(os.path.join(audio_path, '*.wav')):
    audios.append(filename)
    file = filename.split("_")[-1].strip(".wav")
    #print(file)
    #date.append(file[0:4]+"-"+file[4:6]+"-"+file[6:8])
    _date.append(pd.to_datetime(file[0:4]+"-"+file[4:6]+"-"+file[6:8]))
    #_time.append(file[8:10]+":"+file[10:12]+":"+file[12:])
    d = datetime.strptime(file[0:4]+"-"+file[4:6]+"-"+file[6:8] + " " +file[8:10]+":"+file[10:12]+":"+file[12:], "%Y-%m-%d %H:%M:%S").timetuple()
    _time.append(datetime.fromtimestamp(mktime(d)))

In [172]:
unix_time = []
for i in range(data_info.shape[0]):
    unix_time.append(datetime.combine(data_info.Date[i], data_info.Time[i]))

In [174]:
data_info["Time"] = np.array(unix_time)

In [175]:
data_info.head()

        Date                Time     Date_2    Time_2    label
0 2018-10-12 2018-10-12 13:00:00 2018-10-12  16:00:00  Stopped
1 2018-10-12 2018-10-12 16:00:00 2018-10-12  18:00:00     Good
2 2018-10-12 2018-10-12 18:00:00 2018-10-13  12:15:00     Good
3 2018-10-13 2018-10-13 12:15:00 2018-10-13  14:15:00     Good
4 2018-10-13 2018-10-13 14:15:00 2018-10-13  18:15:00  Stopped

In [176]:
unix_time2 = []
for i in range(data_info.shape[0]):
        unix_time2.append(datetime.combine(data_info.Date_2[i], data_info.Time_2[i]))

In [177]:
data_info.Time_2 = np.array(unix_time2)

In [178]:
data_info.head()

        Date                Time     Date_2              Time_2    label
0 2018-10-12 2018-10-12 13:00:00 2018-10-12 2018-10-12 16:00:00  Stopped
1 2018-10-12 2018-10-12 16:00:00 2018-10-12 2018-10-12 18:00:00     Good
2 2018-10-12 2018-10-12 18:00:00 2018-10-13 2018-10-13 12:15:00     Good
3 2018-10-13 2018-10-13 12:15:00 2018-10-13 2018-10-13 14:15:00     Good
4 2018-10-13 2018-10-13 14:15:00 2018-10-13 2018-10-13 18:15:00  Stopped

In [179]:
names = ["Name","Label"]
df_audio = pd.DataFrame(columns=names)

In [180]:
df_audio.Name = np.array(audios)

In [181]:
label = []
for i in range(len(_date)):
    label.append(data_info[(_time[i] > data_info.Time) & (_time[i] < data_info.Time_2)].label.to_string().split(" ")[-1])

In [182]:
df_audio.Label = label

In [183]:
df_audio.shape

(382, 2)

In [189]:
df_audio = df_audio[df_audio.Label != ")"]

In [191]:
df_audio.to_csv("train.csv", index = False)